@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>A little bit about Bake.Love Coffee</h1>
    <p>
        <img src="Images/LittleBakerBoy.jpg" style="position: relative; text-align: left; float: right; top: 0px; left: 0px; height: 334px; width: 237px;" />
        巴黎玛德莲娜教堂附近，有一家小甜品店，叫做Bake Love。
    <p/>小店有一个学徒，Blaise，他每天在巨大的面粉货架和柜台前走来走去。一天，有个身着红衣的姑娘推开小店的门，Blaise的世界都像凝固了。他知道，这就是他的女神。姑娘浏览了他的甜品却露出失望表情。临出门前，Blaise鼓起勇气询问她在找什么。“有爱的提拉米苏”，她礼貌地回答。
    Blaise目送那抹火红消失在大街上灰色大衣的人流之中。“我要给她做一只有爱的提拉米苏！”...
        </P>
        小Blaise如今已经长大。并且已经在北京拥有三个小店，他会不定期地在不同店面花些时间欢迎他的客户。Blaise喜欢制作新鲜食品，追求的是与客户其乐融融的交流。他能叫出每个他见过的客户的名字。但他没有技术能力和时间管理一个O2O营销系统。<p/>
    Bake Love 后台是微软合作伙伴基于Azure上的多种服务集成而来的SaaS解决方案。Blaise只需要利用零碎时间就可以在任何地方通过移动设备管理任何一个店面。
        有了微软云端解决方案，Blaise就可以花更多的时间在他喜欢的事情上:做最好吃的甜品，并看到顾客吃到他的手艺时脸上浮现的满意笑容。
   
    <p>哦，当然，也许在他内心深处最柔软的地方，还希望在他的店里再见到那一袭红衣的她的女神。
    </p>
    Bake Love 是MTC Beijing 2014年开设的虚拟甜品店。为了演示云端O2O系统。通过微软Azure云平台将多家伙伴的技术方案通过API集成。网站是通过Asp.NET starter kit建设。可以模拟在线下单，填写您的email会收到确认邮件。后续会陆续测试其他支付方式，并且通过Azure Machine Learning 提供智能推荐。<p /> 
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
